body {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(49, 49, 49);
    font-family: cursive;
}
#bloc {
    height: 600px;
    min-height: 50vh;
    background-position: center;
    background-image: url("photos/arrièreplan\ jeu\ de.png");
    border-radius: 10px;
}
#logoplus {
    position: relative;
    bottom: -10px;
    left: -4px;
    color: red;
}
#rollDice {
    position: relative;
    color: red;
    left: -20px;
    bottom: -22px;

}
#hold {
    position: relative;
    color: red;
    left: -4px;
    bottom: -2px;
}
#newGame {
    height: 70px;
}
#reset {
    position: relative;
    color: red;
    left: -4px;
    bottom: -2px;
}
#joueur1 {
    position: absolute;
    left: 0px;
    top: 0px;
}
#joueur2 {
    position: absolute;
    right: 0px;
    top: 0px;
}
#reserve {
    color: red;
    font-size: 50px;
}